@{
    ViewData["Title"] = "Home Page";
}

<section class="content pb-3">
    <div class="container-fluid h-100">
    <div class="card card-row card-danger">
        <div class="card-header">
        <h3 class="card-title">
            สิ่งที่ค้าง
        </h3>
        </div>
        <div class="card-body">
        <div class="card card-primary card-outline">
            <div class="card-header">
            <h5 class="card-title">แจ้งซ่อมระบบไฟฟ้าในบ้าน</h5>
            <div class="card-tools">
                <a href="#" class="btn btn-tool btn-link" title="ดู">#TL-5</a>
                <a href="#" class="btn btn-tool" title="แก้ไข">
                <i class="fas fa-pen"></i>
                </a>
            </div>
            </div>
            <div class="card-body">
                <p>แจ้งซ่อมระบบไฟฟ้าในบ้าน บ้านเลขที่ 19/98 ทาวน์โฮมลําลูกกา...<a href="#">เพิ่มเติม</a></p>
                <small class="badge bg-navy color-palette"><i class="fas fa-info"></i> แจ้งซ่อม</small>
                <small class="badge bg-indigo color-palette"><i class="fas fa-home"></i> ทาวน์โฮมลําลูกกา</small>
                <small class="badge bg-orange color-palette"><i class="fas fa-tools"></i> ระบบไฟฟ้า</small>
			</div>
        </div>

        <div class="card card-primary card-outline">
            <div class="card-header">
            <h5 class="card-title">แจ้งซ่อมระบบน้ำในบ้าน</h5>
            <div class="card-tools">
                <a href="#" class="btn btn-tool btn-link" title="ดู">#TL-6</a>
                <a href="#" class="btn btn-tool" title="แก้ไข">
                <i class="fas fa-pen"></i>
                </a>
            </div>
            </div>
            <div class="card-body">
                <p>แจ้งซ่อมระบบน้ำในบ้าน บ้านเลขที่ 19/97 ทาวน์โฮมหลักสี่...<a href="#">เพิ่มเติม</a></p>
                <small class="badge bg-navy color-palette"><i class="fas fa-info"></i> แจ้งซ่อม</small>
                <small class="badge bg-indigo color-palette"><i class="fas fa-home"></i> ทาวน์โฮมหลักสี่</small>
                <small class="badge bg-orange color-palette"><i class="fas fa-tools"></i> ระบบน้ำ</small>
			</div>
        </div>

        <div class="card card-primary card-outline">
            <div class="card-header">
            <h5 class="card-title">แจ้งซ่อมระบบไฟฟ้าในบ้าน</h5>
            <div class="card-tools">
                <a href="#" class="btn btn-tool btn-link" title="ดู">#TL-7</a>
                <a href="#" class="btn btn-tool" title="แก้ไข">
                <i class="fas fa-pen"></i>
                </a>
            </div>
            </div>
            <div class="card-body">
                <p>แจ้งซ่อมระบบไฟฟ้าในบ้าน บ้านเลขที่ 19/96 ทาวน์โฮมลําลูกกา...<a href="#">เพิ่มเติม</a></p>
                <small class="badge bg-navy color-palette"><i class="fas fa-info"></i> แจ้งซ่อม</small>
                <small class="badge bg-indigo color-palette"><i class="fas fa-home"></i> ทาวน์โฮมลําลูกกา</small>
                <small class="badge bg-orange color-palette"><i class="fas fa-tools"></i> ระบบไฟฟ้า</small>
			</div>
        </div>

        <div class="card card-primary card-outline">
            <div class="card-header">
            <h5 class="card-title">แจ้งซ่อมระบบน้ำในบ้าน</h5>
            <div class="card-tools">
                <a href="#" class="btn btn-tool btn-link" title="ดู">#TL-8</a>
                <a href="#" class="btn btn-tool" title="แก้ไข">
                <i class="fas fa-pen"></i>
                </a>
            </div>
            </div>
            <div class="card-body">
                <p>แจ้งซ่อมระบบน้ำในบ้าน บ้านเลขที่ 19/95 ทาวน์โฮมหลักสี่...<a href="#">เพิ่มเติม</a></p>
                <small class="badge bg-navy color-palette"><i class="fas fa-info"></i> แจ้งซ่อม</small>
                <small class="badge bg-indigo color-palette"><i class="fas fa-home"></i> ทาวน์โฮมหลักสี่</small>
                <small class="badge bg-orange color-palette"><i class="fas fa-tools"></i> ระบบน้ำ</small>
			</div>
        </div>
        </div>
    </div>
    <div class="card card-row card-warning">
        <div class="card-header">
        <h3 class="card-title">
            สิ่งที่ต้องทำ
        </h3>
        </div>
        <div class="card-body">
        <div class="card card-primary card-outline">
            <div class="card-header">
            <h5 class="card-title">ร้องเรียนไฟถนนมีปัญหา</h5>
            <div class="card-tools">
                <a href="#" class="btn btn-tool btn-link" title="ดู">#TL-3</a>
                <a href="#" class="btn btn-tool" title="แก้ไข">
                <i class="fas fa-pen"></i>
                </a>
            </div>
            </div>
            <div class="card-body">
                <p>ร้องเรียนไฟถนนมีปัญหาโครงการทาวน์โฮมพหลโยธิน...<a href="#">เพิ่มเติม</a></p>
                <small class="badge bg-navy color-palette"><i class="fas fa-info"></i> ร้องเรียน</small>
			</div>
        </div>
        <div class="card card-primary card-outline">
            <div class="card-header">
            <h5 class="card-title">แจ้งซ่อมระบบน้ำในบ้าน</h5>
            <div class="card-tools">
                <a href="#" class="btn btn-tool btn-link" title="ดู">#TL-4</a>
                <a href="#" class="btn btn-tool" title="แก้ไข">
                <i class="fas fa-pen"></i>
                </a>
            </div>
            </div>
            <div class="card-body">
                <p>แจ้งซ่อมระบบน้ำในบ้าน บ้านเลขที่ 19/99 ทาวน์โฮมหลักสี่...<a href="#">เพิ่มเติม</a></p>
                <small class="badge bg-navy color-palette"><i class="fas fa-info"></i> แจ้งซ่อม</small>
                <small class="badge bg-indigo color-palette"><i class="fas fa-home"></i> ทาวน์โฮมหลักสี่</small>
                <small class="badge bg-orange color-palette"><i class="fas fa-tools"></i> ระบบน้ำ</small>
			</div>
        </div>
        </div>
    </div>
    <div class="card card-row card-default">
        <div class="card-header bg-info">
        <h3 class="card-title">
            กำลังดำเนินการ
        </h3>
        </div>
        <div class="card-body">
            <div class="card card-primary card-outline">
            <div class="card-header">
            <h5 class="card-title">แจ้งซ่อมระบบน้ำในบ้าน</h5>
            <div class="card-tools">
                <a href="#" class="btn btn-tool btn-link" title="ดู">#TL-2</a>
                @* <a href="#" class="btn btn-tool" title="ดู">
                <i class="far fa-eye"></i>
                </a>*@
                <a href="#" class="btn btn-tool" title="แก้ไข">
                <i class="fas fa-pen"></i>
                </a>
            </div>
            </div>
            <div class="card-body">
                <p>แจ้งซ่อมระบบน้ำในบ้าน บ้านเลขที่ 191/92 ทาวน์โฮมพหลโยธิน...<a href="#">เพิ่มเติม</a></p>
                <small class="badge bg-navy color-palette"><i class="fas fa-info"></i> แจ้งซ่อม</small>
                <small class="badge bg-indigo color-palette"><i class="fas fa-home"></i> ทาวน์โฮมพหลโยธิน</small>
                <small class="badge bg-orange color-palette"><i class="fas fa-tools"></i> ระบบน้ำ</small>
			</div>
        </div>
        </div>
    </div>
    <!------------------------->
    <div class="card card-row card-success">
        <div class="card-header">
        <h3 class="card-title">
            เสร็จสิ้น
        </h3>
        </div>
        <div class="card-body">
        <div class="card card-primary card-outline">
            <div class="card-header">
            <h5 class="card-title">สอบถามข้อมูลโครงการ</h5>
            <div class="card-tools">
                <a href="#" class="btn btn-tool btn-link" title="ดู">#TL-1</a>
                @*<a href="#" class="btn btn-tool" title="ดู">
                <i class="far fa-eye"></i>
                </a>*@
                <a href="#" class="btn btn-tool" title="เก็บ">
                <i class="fas fa-archive"></i>
                </a>
            </div>
            </div>
            <div class="card-body">
                <p>สอบถามข้อมูลโครงการในพื้นที่กรุงเทพ เขตบางเขน...<a href="#">เพิ่มเติม</a></p>
                <small class="badge bg-navy color-palette"><i class="fas fa-info"></i> สอบถามข้อมูล</small>
			</div>
        </div>
        </div>
    </div>
    </div>
</section>

<div class="fab" data-toggle="modal" data-target="#modal-xl"> <i class="fas fa-plus"></i> </div>


<div class="modal fade" id="modal-xl" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">เพิ่มเรื่องแจ้งเหตุ</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="card-body">
                  <div class="form-group row">
                    <label for="subject" class="col-sm-2 col-form-label text-right">เรื่อง:</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="subject" placeholder="เรื่อง">
                    </div>
                    <label for="code" class="col-sm-2 col-form-label text-right">เลขที่:</label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" id="code" placeholder="เลขที่" value="TL-10" readonly disabled>
                    </div>
                  </div>
                   <div class="form-group row">
                    <label for="customer" class="col-sm-2 col-form-label text-right">ค้าหาลูกค้า:</label>
                    <div class="col-sm-6">
                        <div class="input-group"> 
                          <input type="text" class="form-control" id="customer" placeholder="ชื่อลูกค้า,เบอร์โทร">
                          <span class="input-group-append">
                            <button type="button" class="btn btn-success btn-flat" data-toggle="modal" data-target="#modal-lg">เพิ่ม</button>
                          </span>
                        </div>
                    </div>
                    <div class="col-sm-4 text-right">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="isContact">
                          <label for="isContact" class="custom-control-label">ติดต่อกลับคนเดียวกัน</label>
                        </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="contactName" class="col-sm-2 col-form-label text-right">ติดต่อชื่อ:</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="contactName" placeholder="ติดต่อชื่อ">
                    </div>
                    <label for="contactMobileNo" class="col-sm-2 col-form-label text-right">ติดต่อเบอร์โทร:</label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" id="contactMobileNo" placeholder="ติดต่อเบอร์โทร">
                    </div>
                  </div>
                   <div class="form-group row">
                    <label for="callTypeId" class="col-sm-2 col-form-label text-right">ประเภทการแจ้ง:</label>
                    <div class="col-sm-2">
                        <select class="form-control select2" name="callTypeId" id="callTypeId" style="width: 100%;">
                          <option value="1">แจ้งซ่อม</option>
                          <option value="2">ร้องเรียน</option>
                          <option value="3">สอบถามข้อมูล</option>
                        </select>
                    </div>
                    <label for="projectId" class="col-sm-2 col-form-label text-right ctnCallTypeId">โครงการ:</label>
                    <div class="col-sm-2 ctnCallTypeId">
                         <input type="text" class="form-control" id="projectId" placeholder="โครงการ">
                    </div>
                    <label for="repairCateId" class="col-sm-2 col-form-label text-right ctnCallTypeId">หมวดหมู่การแจ้งซ่อม:</label>
                    <div class="col-sm-2 ctnCallTypeId">
                         <div class="form-group">
                            <select class="form-control select2" name="repairCateId" id="repairCateId" style="width: 100%;">
                              <option value="1">ระบบไฟฟ้า</option>
                              <option value="2">ระบบน้ำ</option>
                              <option value="3">เครื่องใช้ไฟฟ้า</option>
                              <option value="4">อุปกรณ์ห้องน้ำ</option>
                              <option value="5">อื่นๆ</option>
                            </select>
						 </div>                     
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="problemID" class="col-sm-2 col-form-label text-right ctnCallTypeId">ปัญหา:</label>
                    <div class="col-sm-2 ctnCallTypeId">
                         <input type="text" class="form-control" id="problemID" placeholder="ปัญหา">
                    </div>
                    <label for="houseNumber" class="col-sm-2 col-form-label text-right ctnCallTypeId">บ้านเลขที่:</label>
                    <div class="col-sm-6 ctnCallTypeId">
                         <input type="text" class="form-control" id="houseNumber" placeholder="บ้านเลขที่">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="remark" class="col-sm-2 col-form-label text-right">รายละเอียดเพิ่มเติม:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="remark" rows="3" placeholder="รายละเอียดเพิ่มเติม..."></textarea>
                    </div>
                  </div>
                </div>              
              </form>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-danger" data-dismiss="modal">ปิด</button>
            <button type="button" class="btn btn-primary">บันทึก</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-lg" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">เพิ่มข้อมูลลูกค้า</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="card-body">
                 
                  <div class="form-group row">
                    <label for="customerName" class="col-sm-2 col-form-label text-right">ชื่อ:</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="customerName" placeholder="ชื่อ">
                    </div>
                    <label for="customerMobileNo" class="col-sm-2 col-form-label text-right">เบอร์โทร:</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="customerMobileNo" placeholder="เบอร์โทร">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="address" class="col-sm-2 col-form-label text-right">ที่อยู่:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="address" rows="3" placeholder="ที่อยู่..."></textarea>
                    </div>
                  </div>
                </div>              
              </form>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-danger" data-dismiss="modal">ปิด</button>
            <button type="button" class="btn btn-success">เพิ่ม</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Scripts {
    <script>
  $( function() {
    var names = [ "สุภัค โชติวิจิตร,0816974455" ,"อภิมุข วรรณเวช,0856861542","พรรณภา พรหมรักษ์,0860896571","ภิรมย์ จิตจำนงค์,0626636144","นันทวรรณ สุวรรณศร,0824656263","กมลมาศ นามวงศ์วัฒนะกุล,0818315633","พิชชาภรณ์ แพงสกล,0970176702","ณัฐริกา เนาถาวร,0957271276","สุกัญญา โชติวิจิตร,0970176701","กฤตติกา ไวยนิตย์,0982362896","ปิติพงษ์ ไวยโชติกา,0982676984","ประภาส หมั่นกลาง,0957437339","วีระพล มหาอุด,0868811951","เตือนใจ บุญจันทร์ ,0988358317"  ];
    var projects = [ "ทาวน์โฮมลําลูกกา" ,"ทาวน์โฮมหลักสี่","ทาวน์โฮมพหลโยธิน","ทาวน์โฮมพระราม 9","ทาวน์โฮม พลีโน่ ปิ่นเกล้า","ทาวน์โฮม ราชพฤกษ์" ];
    var problems = [ "ประตู่เสีย" ,"ท่อน้ำแตก","ชักโครกเสีย","น้ําไม่ไหล","ไฟดับ","ท่อน้ำทิ้งเสีย" ,"ประตู่เหล็กเสีย"];

    var accentMap = {
      "á": "a",
      "ö": "o"
    };
    var normalize = function( term ) {
      var ret = "";
      for ( var i = 0; i < term.length; i++ ) {
        ret += accentMap[ term.charAt(i) ] || term.charAt(i);
      }
      return ret;
    };
 
    $( "#customer" ).autocomplete({
      source: function( request, response ) {
        var matcher = new RegExp( $.ui.autocomplete.escapeRegex( request.term ), "i" );
        response( $.grep( names, function( value ) {
          value = value.label || value.value || value;
          return matcher.test( value ) || matcher.test( normalize( value ) );
        }) );
      }
    });

     $( "#projectId" ).autocomplete({
      source: function( request, response ) {
        var matcher = new RegExp( $.ui.autocomplete.escapeRegex( request.term ), "i" );
        response( $.grep( projects, function( value ) {
          value = value.label || value.value || value;
          return matcher.test( value ) || matcher.test( normalize( value ) );
        }) );
      }
    });

    $( "#problemID" ).autocomplete({
      source: function( request, response ) {
        var matcher = new RegExp( $.ui.autocomplete.escapeRegex( request.term ), "i" );
        response( $.grep( problems, function( value ) {
          value = value.label || value.value || value;
          return matcher.test( value ) || matcher.test( normalize( value ) );
        }) );
      }
    });

    $('#isContact').change(function() {
        if(this.checked) {
            $('#contactName').prop('readonly', true);
            $('#contactMobileNo').prop('readonly', true);
            var name = $("#customer").val().split(',');
            if(name != null && name.length >= 2)
            {
                $('#contactName').val(name[0]);
                $('#contactMobileNo').val(name[1]);
            }
        }
        else
        {
            $('#contactName').prop('readonly', false);
            $('#contactMobileNo').prop('readonly', false);
        }
    });

    $('#callTypeId').change(function() {
        console.log(this.value);
        if(this.value == "1") {
            $(".ctnCallTypeId").show();
        }
        else
        {
            $(".ctnCallTypeId").hide();
        }
    });

  });
  </script>
}